@import url(http://fonts.googleapis.com/css?family=Ruthie|Special+Elite);

h1 {
    text-align: center;
}

h1 span.art-name {
    font-family: Ruthie, handwriting;
    font-size: 250%;
    display: inline-block;
    transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
}

h1 span.facts {
    font-family: 'Special Elite', sans-serif;
    font-size: 75%;
    position: relative;
    bottom: -12pt;
    left: -32pt;
}

div.picframe {
    height: 400px;
    float: left;
    margin-right: 18pt;
}

div.picframe img {
    height: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

div.body {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

p.fact {
}

a.button:before {
    content: "[";
}

a.button:after {
    content: "]";
}

#verify {
    display: none;
}

#submit_form {
    display: none;
}

#admin_link {
    display: none;
}